:root{
  --col-width: 48%;  
}

body{
  background-color: unset;
}

.flex{
  display: flex;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-half-width{
  flex: 0 0 var(--col-width);
  max-width: var(--col-width);
}