/*


    Side-To-Top Nav
    

*/

.side-to-top {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side-to-top li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.side-to-top li.active {
  background-color: #4CAF50;
  color: white;
}

.side-to-top li:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  /*height: 1000px;*/
}

@media screen and (max-width: 700px) {
  .side-to-top {
    width: 100%;
    height: auto;
    position: relative;
  }
  .side-to-top a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .side-to-top a {
    text-align: center;
    float: none;
  }
}


/*


    responsive top-nav


*/

.topnav {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.topnav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav li.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}


/*


  Hover Full-Screen-only


*/

.hover-expand li {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.hover-expand li{
  background-color: steelblue;
}

.hover-expand li:hover {
  left: 0;
}

.hover-expand li.h-e-0{
  top: 75px;
}

.hover-expand li.h-e-1{
  top: 175px;
}

.hover-expand li.h-e-2{
  top: 275px;
}

.hover-expand li.h-e-3{
  top: 375px;
}