body {
  background-color: darkgray;
}
svg {
  background-color: rgb(15,15,65);
}

.boundary {
  fill: rgb(0,60,0);

  /* 
    Solid option 
  */
  
  /*
  stroke: rgb(175,175,175);
  stroke-width: .25px; 
  */
  
  /*
      Dashed-option?!
  */
  stroke: rgb(105,105,105);
  stroke-width: .5px; 
  stroke-dasharray: 3 2 3 3;

  vector-effect: non-scaling-stroke;
  transition: fill 150ms;
}

.boundary:hover{  
  fill: rgb(0,50,0);
}

.boundary.active{
  fill: rgb(0,40,0);
  stroke: rgb(75,105,75);
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute;
}