.data-table{
	width: 700px;
  overflow-x: auto;
  height: 800px;
  margin: 0 auto;
}

.data-table > table > thead > tr > th{
  padding: 0 10px;
  height: auto;
  min-width: 79px;
  text-align: left;
  vertical-align: bottom;
}

.data-table > table > tbody > tr{
	line-height: 2.5;
}

.data-table > table > tbody > tr:nth-child(even){
	background-color: #f2f2f2;
}

.data-table > table > tbody > tr:hover {
	background-color: #ddd;
}

.data-table > table > tbody > tr > td{
	padding-left: 5px;
}